*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Oswald", sans-serif;
    background-color: black;
    color: white;
}

body {
    padding: 20px;
}

.boton-menu {
    display: none;
    
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;

}
.navegacion-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    
    
}
.navegacion-principal__marca {
    height: 50px;
    
}
.navegacion-principal__menu, .navegacion-principal__menu-derecha {
    display: flex;
    list-style: none;
    
}

.navegacion-principal__menu li , .navegacion-principal__menu-derecha li{
    margin: left;
    
}


.navegacion-principal__menu a , .navegacion-principal__menu-derecha a{
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    justify-content: space-between;
    
}

.cabecera {
    text-align: center;
    margin: 40px 0;
    padding: 20px;
    background: url('Assets/showcase.jpg') no-repeat center center/cover;
    

}

.cabecera h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.cabecera p {
    font-size: 1.2em;
    margin-bottom: 20px;
}




.boton {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: rgb(46, 45, 45);
    border: 2px solid white;
    text-decoration: none;
    font-size: 1.1em;
    
}
.tarjetas-noticias {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
   
}
.tarjetas-noticias__tarjeta {
    flex: 1 1 calc(25% - 20px);
    padding: 20px;
    justify-content: center;
   
}

.tarjetas-noticias__tarjeta img {
    width: 100%;
    margin-bottom: 20px;
}

.tarjetas-noticias__tarjeta h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.tarjetas-noticias__tarjeta p {
    font-size: 1em;
    margin-bottom: 20px;
}

.tarjetas-noticias__tarjeta a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}



.banner-tarjetas-uno__contenido {
    text-align: center;
    margin: 40px 0;
    padding: 20px;
    background: url('Assets/news1.jpg') no-repeat center center/cover;

}

.banner-tarjetas-uno__contenido h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.banner-tarjetas-uno__contenido p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.tarjetas-noticias {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

   
}
.tarjetas-noticias__tarjeta2 {
    flex: 1 1 calc(25% - 20px);
    padding: 20px;
    justify-content: center;
    height: 300px;
   
}

.tarjetas-noticias__tarjeta2 img {
    width: 100%;
    height: 50%;

}

.tarjetas-noticias__tarjeta2 h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.tarjetas-noticias__tarjeta2 p {
    font-size: 1em;
    margin-bottom: 20px;
}

.tarjetas-noticias__tarjeta2 a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.banner-tarjetas-dos__contenido {
    text-align: center;
    margin: 40px 0;
    padding: 20px;
    background: url('Assets/news3.jpg') no-repeat center center/cover;

}

.banner-tarjetas-dos__contenido h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.banner-tarjetas-dos__contenido p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.social {
    color: white;
    text-align: center;
}
.social__enlaces {
    color: white;
    
}
.fab {

}
.fa-facebook-f, .fa-twitter, .fa-linkedin {
    color: white;
    font-size: x-large;
    gap: 20px;
    
}

.pie {
    background-color: rgb(85, 85, 132);
    margin-top: 15px;
    margin-bottom: 20px;
    padding-left: 25%;
    padding-right: 25%;
}
.pie h4{
    text-align: center;
    color: rgb(64, 67, 70);
}
.enlaces-pie {
    color: white;
    
}
.enlaces-pie__contenedor {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.enlaces-pie__lista a {
    color: white;
    text-decoration: none;
    
}
.enlaces-pie__lista{
    list-style-type:none ;


}

/* .enlaces-pie__lista h3 li{
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} */
